

.contacts {
    padding: 3% 10%;
    font-size: 22px;;
}

.text-area h1{
    display: flex;
    width: 100%;
    align-items: center;
    color: white;
    text-transform: capitalize;
    font-size: 55px;
    padding-bottom: 30px;
    font-weight: bold;
    letter-spacing: 2px;
}
.text-area h1::before,
.text-area h1::after{
    content: "";
    flex: 1;
    border: solid #4bf2ff;
    border-width: .1em 0;
    /* height: .2em; */
    margin: .2em;
}

.connect {
    /* font-family: '', serif; */
    letter-spacing: 3px;
    font-weight: bold;
    color: #ff0066;
    /* color: white; */
    text-transform: uppercase;
    font-size: 35px;
    text-align: center;
    padding: 10px;
    
}


.cardMain{
    background: #312d3c;
    display: flex;
    padding: 0 20px;
    display: flex;
    height: 150px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}

.card-icon  {
    font-size: 28px;
    background-color:  #ff0066;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    transition: 0.3s linear;
    color:white
}
.card-icon  a{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cardMain:hover .card-icon{
    background: none;
    transform: scale(1.6);
    color: #ff0066;
}

.cardMain p{
    margin-top: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    max-height: 0;
    opacity: 0;
    transition: 0.3s linear;
    color: white;
    text-decoration: none;
}

.cardMain a{
    color: #ff0066;
    text-decoration: none;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cardMain:hover p{
    max-height: 40px;
    opacity: 1;
    color: white;
    text-decoration: none;
}

.specialContacts {
    display: flex;
    justify-content: flex-end;
}

.message-area {
    display: none;
}

.message-area input,
.message-area textarea {
    margin: 20px;
    padding: 18px;
    font-weight: 500;
    /* font-size: 30px; */
    line-height: 1.2;
    color: rgb(45, 108, 129);
    width: 100%;
}

.submitBtn  {
    display: flex;
    justify-content: center;
}
.submitBtn button {
    border-radius: 50px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 3px;
    padding: 30px 50px;
    background: #ff0066;
    font-size: 25px;
    border: none;
    color: white;
}

.hide {
    display: none;
}


@media screen and (min-width: 768px) {
    .info-area .row {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        /* padding: 40px; */
        align-items: center;
        justify-content: center;
    }

    .contact-info {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100%;
    }

    .connect {
        /* font-family: '', serif; */
        letter-spacing: 3px;
        font-weight: bold;
        color: #ff0066;
        /* color: white; */
        text-transform: uppercase;
        font-size: 35px;
        text-align: center;
        padding: 40px;
    }

    .cardMain {
        margin: 0 10px;
    }

    .message-area {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 50px 80px;
        color: rgb(45, 108, 129);
    }
    

}